<p id="notice"><%= notice %></p>

<h1>Tweets</h1>




<% @tweets.each_slice(3) do |three_tweets| %>
<div class="card-deck">
    <% three_tweets.each do |tweet| %>
    <div class="card border-info mb-3" style="max-width: 70rem;">
      <div class="card-header">Tweet</div>
      <div class="card-body text-info">
        <h5 class="card-title"><%= tweet.title %></h5>
        <p class="card-text"><%= tweet.content %></p>
        <%= link_to 'Show', tweet, class:"btn btn-outline-success" %>
        <%= link_to 'Edit', edit_tweet_path(tweet), class:"btn btn-outline-danger" %>
        <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-info" %>
      </div>
    </div>
    <% end %>
  </div>
  <%end%>

<br>

<%= link_to 'New Tweet', new_tweet_path, class:"btn btn-warning btn_pauli" %>
